@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";

  /* Paleta de cores - Azul */
  --color-background: #05463E;
  --color-primary: #54B484;
  --color-primary-hover: #40996D;

  --color-text: #F0FDF4;
  --color-subtle-text: #A7F3D0;
  --color-card-bg: #ECFDF5;
}

body {
  font-family: var(--font-display);
}